.schedule {
  text-align: center;
  margin: 0px auto;
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  .schedule {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1240px) {
  .schedule {
    padding-top: 120px;
  }
}
