.why-choose-us {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .why-choose-us {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0px;
    max-width: 1280px;
    margin: 60px auto;
  }
}
