.promo-statistika {
  background-color: #0e0e0e;
  padding: 10px;
}
.promo-statistika-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media screen and (min-width: 400px) {
  .promo-statistika {
    padding: 10px 5%;
  }
}

@media screen and (min-width: 768px) {
  .promo-statistika-wrap {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .promo-statistika {
    padding: 20px 80px;
  }
  .promo-statistika-wrap {
    max-width: 1280px;
    margin: 0 auto;
  }
}
