.contact-us {
  text-align: center;
  margin: 0px 20px -20px 20px;
  max-width: 1280px;
  padding-top: 40px;
}

.contact-us-text-location svg {
  color: #f0f0f0;
  font-size: 3.5rem;
}
.contact-us-text-location-address,
.contact-us-text-location-email {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.contact-us-text-location-address-image,
.contact-us-text-location-email-image {
  padding: 20px;
  background-color: #dd1111;
}
.contact-us-text-location-address-desc,
.contact-us-text-location-email-desc {
  text-align: left;
}
.contact-us-text-location-address-desc h3,
.contact-us-text-location-email-desc h3,
.contact-us-social h3 {
  margin-bottom: 5px;
  color: #f0f0f0;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.contact-us-text-location-address-desc p,
.contact-us-text-location-email-desc p {
  margin-bottom: 5px;
}

.contact-us-social {
  border-top: solid 1px rgba(255, 255, 255, 0.11);
  padding-top: 20px;
  margin-bottom: 20px;
}
.social-links {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.social-links div {
  background-color: #dd1111;
  color: #f0f0f0;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-form {
  background: rgba(30, 30, 30, 1);
  padding: 40px 40px 40px 40px;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .contact-us-social {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
  }
  .social-links {
    padding-top: 0px;
  }
  .contact-us-social h3 {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 120px auto -35px auto;
    padding: 20px;
    z-index: 5;
  }

  .contact-us-text-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .contact-us-form {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .contact-us {
    padding: 100px 0px;
  }
}
