.header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* .header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #151515;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../images/backgrounds/header/mateja-header-bg.webp');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
} */

.logo {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 30px 20px 10px 20px;
}
.header-text-box {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}
.header-text-box h1,
.header-text-box h2 {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}
.header-text-box h1 {
  font-size: 3.6rem;
  color: #dd1111;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
.header-text-box h2 {
  font-size: 1.6rem;
  color: #f0f0f0;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.header .arrow-down {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  color: #f0f0f09a;
  font-size: 3.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    background-position: center;
  }
}

/* Header slider */

.header-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.slide-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute; /* stays persistent */
  top: 0;
  left: 0;
  animation: zoomIn 15s linear infinite;
}

.header-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.3;
}
.header-slider .slide-1 {
  object-position: right;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.07);
  }
}
