.about-us {
  padding: 90px 10px 60px 10px;
  margin: 0px auto;
}
.about-us-text-wrapper {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .about-us {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0px;
    max-width: 1280px;
    margin: 60px auto;
  }
  .about-us-text-wrapper {
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .about-us {
    grid-template-columns: 40% 60%;
    margin-left: 60px;
  }

  .about-us-text-wrapper {
    padding: 20px 60px 20px 20px;
  }
}
@media screen and (min-width: 1350px) {
  .about-us {
    margin: 60px auto;
    padding: 140px 0;
  }
}
