.google-map {
}

.google-map iframe {
  width: 100vw;
  height: 350px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}
@media screen and (min-width: 1200px) {
  .google-map iframe {
    height: 450px;
  }
}
