.single-offer {
  display: flex;
  flex-direction: column;
}
.single-offer-desc {
  background-image: url("../../images/backgrounds/Old-black-background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-offer-desc-image {
  width: 60px;
  height: auto;
  margin: 0 auto 20px auto;
}
.single-offer-desc-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.single-offer-title {
  font-family: "Rajdhani", "sans-serif";
  font-size: 2.4rem;
  line-height: 2rem;
  letter-spacing: 0px;
  text-transform: capitalize;
  font-weight: 700;
  color: #f0f0f0;
}
.single-offer-image img {
  width: 100%;
  height: 100%;
  filter: saturate(0);
  transition: all 0.2s ease;
  object-fit: cover;
  object-position: center;
}
.single-offer-image:hover img,
.single-offer-desc:hover + .single-offer-image img {
  filter: saturate(1);
}

.single-offer-link {
  font-family: "Rajdhani", "sans-serif";
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 1.5px;
  color: #dd1111;
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.single-offer-link-arrow {
  font-size: 1.2em;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .single-offer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .single-offer:nth-child(2n + 2) {
    grid-auto-flow: dense;
    direction: rtl;
  }
  .single-offer-link {
    direction: ltr;
  }
}

@media screen and (min-width: 1240px) {
  .single-offer:nth-child(2) {
    direction: ltr;
  }
  .single-offer:nth-child(3) {
    grid-auto-flow: dense;
    direction: rtl;
  }
}
