.fancy-image-wrapper {
  width: 80%;
  margin: 20px auto 60px auto;
  position: relative;
}
.fancy-image-wrapper-box-top-left {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 150px;
  height: 150px;
  background-color: #dd1111;
  z-index: -1;
}

.fancy-image-wrapper-box-bottom-right {
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 150px;
  height: 150px;
  background-color: #dd1111;
  z-index: -1;
}

.fancy-image img {
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .fancy-image-wrapper-box-bottom-right {
    bottom: -20px;
    right: -20px;
  }
  .fancy-image-wrapper {
    margin: 20px auto 260px auto;
  }
}
@media screen and (min-width: 1024px) {
  .fancy-image-wrapper {
    margin: 20px auto 60px 20px;
  }
}
