.testimonial-card {
  padding: 20px 30px;
  /*   height: 300px; */
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.testimonial-card-author-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.testimonial-card-author-image img {
  width: 100%;
}

.testimonial-card-author-data .author-name {
  font-family: "Rajdhani", "sans-serif";
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4em;
}

@media screen and (min-width: 600px) {
  .testimonial-card {
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .testimonial-card {
    height: 320px;
  }
}
