.schedule-table {
  margin: 20px;
}

.schedule-table table,
th,
td {
  border: 1px solid #ddd;
  padding: 20px 8px;
}
.schedule-table table {
  border-collapse: collapse;
  width: 100%;
}
.schedule-table table th {
  font-size: 2rem;
  text-transform: uppercase;
  color: #c7c7c7;
}
.time-cell {
  font-weight: 700;
  color: #c7c7c7;
}
.schedule-table table td:not(:first-child):not(:empty):hover {
  box-shadow: inset 0 0 0 4px #d72323;
  cursor: crosshair;
}

@media screen and (max-width: 768px) {
  .schedule-table {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  .schedule-table {
    margin: 60px auto;
    max-width: 1280px;
  }
}
