* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

body {
  background: url("../src/images/backgrounds/Lutador-Website-bg.webp");
  background-repeat: no-repeat; /* Prevents the image from tiling */
  background-position: center; /* Centers the image horizontally and vertically */
  background-size: cover; /* Scales the image to cover the entire container */
  background-attachment: fixed;
  /*  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top left; */
  /*   background-size: cover; */
}

@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap);

h1,
h2,
h3,
h4,
th {
  font-family: "Rajdhani", sans-serif;
}
h1,
h2 {
  color: #f0f0f0;
}
h3,
h4 {
  color: #dd1111;
}
h2 {
  font-size: 3.5rem;
  line-height: 3.4rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p,
tr {
  font-family: "Heebo", sans-serif;
  color: #959595;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  p,
  tr {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

.btn {
  font-family: "Inter", sans-serif;
  padding: 10px 18px;

  cursor: pointer;
}
.btn-rounded {
  border-radius: 50px;
}
.btn-square {
  border-radius: 0px;
}

.btn-red {
  border: 2px solid #dd1111;
  transition: all 0.3s ease;
}
.btn-red:hover,
.btn-red:active {
  background-color: #dd1111;
  padding-left: 14px;
  transform: translateY(1px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-red span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-red span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -10px;
  transition: 0.5s;
}

.btn-red:hover span {
  padding-right: 15px;
}

.btn-red:hover span:after {
  opacity: 1;
  right: 0;
}
.btn-outline {
  background-color: rgba(255, 255, 255, 0);
  color: #f1f1f1;
}
.btn-red-full-color {
  background-color: #dd1111;
  color: #f1f1f1;
}
